---
const {propdata} = Astro.props;
---
<article>
    <div class="heading">
        <h2 class="h3-display">Fakta om {propdata.title}</h2>
        </div>

<div class="line">
 <label for="touch1"><span class="h6">SPROG</span></label>               
  <input type="checkbox" id="touch1"> 

  <ul class="slide">
    <li class="paragraph-medium">{propdata.sprog}</li> 
  </ul>
</div> 

    <div class="line">
    <label for="touch2"><span class="h6">VISUM</span></label>               
    <input type="checkbox" id="touch2"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.visum}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch3"><span class="h6">KLIMA</span></label>               
    <input type="checkbox" id="touch3"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.klima}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch4"><span class="h6">HOVEDSTAD</span></label>               
    <input type="checkbox" id="touch4"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.hovedstad}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch5"><span class="h6">INDBYGGERE</span></label>               
    <input type="checkbox" id="touch5"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.indbyggere}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch6"><span class="h6">RELIGION</span></label>               
    <input type="checkbox" id="touch6"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.religion}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch7"><span class="h6">TIDSFORSKEL</span></label>               
    <input type="checkbox" id="touch7"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.tidsforskel}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch8"><span class="h6">KONTINENT</span></label>               
    <input type="checkbox" id="touch8"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.kontinent}</li> 
    </ul>
  </div> 

  <div class="line">
    <label for="touch9"><span class="h6">VALUTA</span></label>               
    <input type="checkbox" id="touch9"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.valuta}</li> 
    </ul>
  </div>


  <div class="line">
    <label for="touch10"><span class="h6">BESKÆFTIGELSE</span></label>               
    <input type="checkbox" id="touch10"> 
  
    <ul class="slide">
        <li class="paragraph-medium">{propdata.beskæftigelse}</li> 
    </ul>
  </div>


    <!-- <div>
        <div class="dropdown">
            <div class="dropdown-btn-line">
            <span class="h6">SPROG</span>
            <img src="destination-page/plus-icon.png" alt="" width="17" height="auto">
            </div>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div> -->

</article>

<style>

.heading {
    padding-bottom: var(--space-horisontal-gap-xxxlarge, 80px);

}


.line {
    border-bottom: solid 1px;
}

article {
    display: flex; 
    align-items: center;
    flex-direction: column;
  padding-left: 0px var(--space-vertical-margin-x-large, 160px);
  padding-right: 0px var(--space-vertical-margin-x-large, 160px);
  padding-top: 130px;
  padding-bottom: 130px;


}

span {
  padding-bottom: 15px;
  padding-top: 15px;
  background : transparent; 
  color : rgb(0, 0, 0);
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:250px;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
}

.slide li {padding-left : 0px;}  

#touch1 {position: absolute; opacity: 0; height: 0px;}    

#touch1:checked + .slide {height: 50px;} 


#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide {height: 50px;} 


#touch3 {position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide {height: 50px;} 


#touch4 {position: absolute; opacity: 0; height: 0px;}    

#touch4:checked + .slide {height: 50px;} 


#touch5 {position: absolute; opacity: 0; height: 0px;}    

#touch5:checked + .slide {height: 50px;} 


#touch6 {position: absolute; opacity: 0; height: 0px;}    

#touch6:checked + .slide {height: 50px;} 


#touch7 {position: absolute; opacity: 0; height: 0px;}    

#touch7:checked + .slide {height: 50px;} 


#touch8 {position: absolute; opacity: 0; height: 0px;}    

#touch8:checked + .slide {height: 50px;} 


#touch9 {position: absolute; opacity: 0; height: 0px;}    

#touch9:checked + .slide {height: 50px;} 


#touch10 {position: absolute; opacity: 0; height: 0px;}    

#touch10:checked + .slide {height: 50px;} 


@media only screen and (min-width: 992px) {
.heading {
    padding-bottom: var(--space-horisontal-gap-xxxlarge, 80px);

}


.line {
    border-bottom: solid 1px;
}

article {
    display: flex; 
    align-items: center;
    flex-direction: column;
  padding-left: 0px var(--space-vertical-margin-x-large, 160px);
  padding-right: 0px var(--space-vertical-margin-x-large, 160px);
  padding-top: 130px;
  padding-bottom: 130px;


}

span {
  padding-bottom: 15px;
  padding-top: 15px;
  background : transparent; 
  color : rgb(0, 0, 0);
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:1000px;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
}

.slide li {padding-left : 0px;}


#touch1 {position: absolute; opacity: 0; height: 0px;}    

#touch1:checked + .slide {height: 50px;} 


#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide {height: 50px;} 


#touch3 {position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide {height: 50px;} 


#touch4 {position: absolute; opacity: 0; height: 0px;}    

#touch4:checked + .slide {height: 50px;} 


#touch5 {position: absolute; opacity: 0; height: 0px;}    

#touch5:checked + .slide {height: 50px;} 


#touch6 {position: absolute; opacity: 0; height: 0px;}    

#touch6:checked + .slide {height: 50px;} 


#touch7 {position: absolute; opacity: 0; height: 0px;}    

#touch7:checked + .slide {height: 50px;} 


#touch8 {position: absolute; opacity: 0; height: 0px;}    

#touch8:checked + .slide {height: 50px;} 


#touch9 {position: absolute; opacity: 0; height: 0px;}    

#touch9:checked + .slide {height: 50px;} 


#touch10 {position: absolute; opacity: 0; height: 0px;}    

#touch10:checked + .slide {height: 50px;} 


}


</style>

<script>

  import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
  
      gsap.registerPlugin(ScrollTrigger);
  
      gsap.from(".heading", {
      y: 100,  
      duration: 3,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".heading",
        start: "top 80%", 
        end: "bottom 60%", 
        scrub: true,
    }
  });

  gsap.from(".line", {
      y: 100,  
      duration: 3,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".line",
        start: "top 80%", 
        end: "bottom 60%", 
        scrub: true,
    }
  });


  </script>