---
import BTNPrimary from "../general/BTNPrimary.astro"

const {propdata} = Astro.props;
---

<article>

    <section class="travel-upper-section">
            <div>
                <span class="forridder"> {propdata.forridder} </span>
                <h2 class="h2-display">Udvalgte rejseforslag</h2>
                </div>
            <div>
    <div class="content">
            <div>
        <img src={"/../destination-page/" + propdata.t_upper_img1} alt="image" width="" height="" class="responsive1">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">{propdata.t_upper_title1}</h6>
                <p class="paragraph-small">{propdata.t_upper_description1}</p>
                <span class="inline-text">{propdata.t_upper_price1}</span>
            </div>
            <div>
                <div><BTNPrimary data="SE REJSE"/></div>
                </div>
           </div>
        </div>
        <div>
            <div>
               <img src={"/../destination-page/" + propdata.t_upper_img2} alt="image" width="" height="" class="responsive1">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <h6 class="h6">{propdata.t_upper_title2}</h6>
                    <p class="paragraph-small">{propdata.t_upper_description2}</p>
                    <span class="inline-text">{propdata.t_upper_price2}</span>
                </div>
                <div>
                    <div><BTNPrimary data="SE REJSE"/></div>
                    </div>
               </div>
            </div>
            <div>
            </div>     
        </section>
    
        <section class="travel-lower-section">
    
        <div>
                <span class="forridder">REJSETYPER</span>
                <h2 class="h2-display">Udvalgte rejseforslag</h2>
                </div>
            <div>
        <div class="content">
         <div>
            <img src={"/../destination-page/" + propdata.t_lower_img1} class="responsive2" alt="Maldives" width="" height="">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">{propdata.t_lower_title1}</h6>
                <p class="paragraph-small">{propdata.t_lower_description1}</p>
                <span class="inline-text">{propdata.t_lower_price1} </span>
            </div>
            <div>
                <div><BTNPrimary data="SE REJSE"/></div>
                </div>
           </div>
        </div>
    
            <div>
                <img src={"/../destination-page/" + propdata.t_lower_img2} class="responsive2" alt="image" width="" height="">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <h6 class="h6">{propdata.t_lower_title2}</h6>
                    <p class="paragraph-small">{propdata.t_lower_description2}</p>
                    <span class="inline-text">{propdata.t_lower_price2}</span>
                </div>
                <div>
                    <div><BTNPrimary data="SE REJSE"/></div>
                    </div>
               </div>
            </div>
    
    
                <div>
                   <img src={"/../destination-page/" + propdata.t_lower_img3} class="responsive2" alt="Maldives" width="" height="">
                    <div class="text-btn-gap">
                    <div class="text-gap">
                        <h6 class="h6">{propdata.t_lower_title3}</h6>
                        <p class="paragraph-small">{propdata.t_lower_description3}</p>
                        <span class="inline-text">{propdata.t_lower_price3}</span>
                    </div>
                    <div>
                     <div><BTNPrimary data="SE REJSE"/></div>
                    </div>
                   </div>
                </div>
        </div>
            
        </section>
    
        
    </article>

<style>
/* 
    .img2 {
        max-width: 500px;
        height: 40%;
        object-fit:cover;
    }

    .img1 {
        max-width: 420px;
        height: 65%;
        object-fit:cover;
    } */

   
    img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    }


    .article {
        background-color: var(--surface-secondary);
        display: flex;
        padding-top: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        padding: var(--space-horisontal-margin-medium, 80px) var(--size-spacing-space-7, 30px);
    }



    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-vertical-gap-small);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);
        padding: var(--space-horisontal-margin-medium, 80px) var(--size-spacing-space-7, 30px);

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        gap: var(--space-vertical-gap-small);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
        padding: var(--space-horisontal-margin-medium, 80px) var(--size-spacing-space-7, 30px);
    }

    .text-btn-gap {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-xlarge, 30px);
    justify-content: left;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-top: 16px;
    }

    @media only screen and (min-width: 992px) {
        

        article {
            gap: var(--space-horisontal-gap-xxlarge, 50px);
            padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 30px);
            background-color: var(--surface-secondary, #FFFFE9);
            padding-top: 250px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        }

        article::before {
        content: "";
        position: absolute;
        top: -12rem; /* Exceeds the top of the container by 5rem */
        left: 0rem;
        width: 100vw;
        height: 100%; /* Covers the entire height of the article plus 5rem */
        background-color: var(--surface-secondary); /* Background color */
        z-index: -1; /* Ensure the pseudo-element is behind other content */
    }
        
        .travel-upper-section {
        display: flex;
       flex-direction: row-reverse;
        padding-bottom: 30px;
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        gap: var(--space-vertical-gap-small);

    }


    .travel-lower-section {
        display: flex;
       flex-direction:row-reverse;
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }

    .responsive1 {
  height: 350px; 
  width: 500px; 
  max-width: 500px;
  object-fit: cover;
}

.responsive2 {
  height: 250px; 
  max-width: 300px;
  width: 300px; 
  object-fit: cover;
}
}

   
</style>


<!-- <script>

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.from(".travel-upper-section", {
        x: -700,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
            trigger: ".travel-upper-section",
            start: "top 90%",  
            end: "bottom 80%", 
            scrub: true,
      }
    });

    gsap.from(".travel-lower-section", {
        x: -700,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".travel-lower-section",
          start: "top 90%",  
            end: "bottom 80%", 
          scrub: true,
      }
    }); -->

    </script>
    