---
import BTNPrimary from "../general/BTNPrimary.astro"

  const {propdata} = Astro.props;
---

<article>

<div class="head-center">
    <span class="forridder">{propdata.forridder}</span>
    <h3 class="h3-display">Udvalgte øer og hoteller</h3>
</div>

<section>
<div class="travel-place">
<div><img src={"../destination-page/" + propdata.t_place_img1} alt="image" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">{propdata.t_place_title1}</h6>
        <p class="paragraph-small">{propdata.t_place_description1}</p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

<div class="travel-place">
    <div><img src={"../destination-page/" + propdata.t_place_img2} alt="image" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">{propdata.t_place_title2}</h6>
        <p class="paragraph-small">{propdata.t_place_description2}</p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

<div class="travel-place">
    <div><img src={"../destination-page/" + propdata.t_place_img3} alt="image" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">{propdata.t_place_title3}</h6>
        <p class="paragraph-small">{propdata.t_place_description3}</p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

</section>
</article>

<style>

article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-horisontal-gap-xxxlarge, 80px);
        padding-top: 130px;
        padding-bottom: 130px;
    }


    img {

        width: 281px;
      height: 125px;
      object-fit: cover;


    }
    section {
        padding: 0px var(--space-vertical-margin-x-large, 160px);
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .travel-place {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);
    display: flex;

    }

    .text-gap {
        display: flex;
        flex-direction: column;
    }

    .aside {
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);

    }

    .head-center {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
@media only screen and (min-width: 992px) {

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-horisontal-gap-xxxlarge, 80px);
        padding-top: 130px;
        padding-bottom: 130px;
    }


    img {

        width: 535px;
  height: 235px;
    }
    section {
        padding: 0px var(--space-vertical-margin-x-large, 160px);
        flex-direction: column;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .travel-place {
    width: 1119px;
    height: 235px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--space-vertical-gap-small, 40px);

        display: flex;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
    }

    .aside {
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);

    }

    .head-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
</style>

<!-- <script>

    import { gsap } from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";
    
        gsap.registerPlugin(ScrollTrigger);
    
        gsap.from(".head-center", {
        y: 100,  
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".head-center",
          start: "top 80%", 
          end: "bottom 60%", 
          scrub: true,
      }
    });

    gsap.from(".travel-place", {
        y: 100,  
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".travel-place",
          start: "top 80%", 
          end: "bottom 60%", 
          scrub: true,
      }
    });
    
    </script> -->